<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_FILE" value="logs/app.log"/>

    <!-- Logger específico para tu app en nivel DEBUG -->
    <logger name="com.marcoslozina" level="DEBUG" />

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <logLevel />
                <loggerName />
                <threadName />
                <message />
                <arguments />
                <mdc>
                    <!-- Preparado para trazabilidad distribuida -->
                    <mdcKey>traceId</mdcKey>
                    <mdcKey>spanId</mdcKey>
                </mdc>
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <logLevel />
                <loggerName />
                <threadName />
                <message />
                <arguments />
                <mdc>
                    <mdcKey>traceId</mdcKey>
                    <mdcKey>spanId</mdcKey>
                </mdc>
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE" />
        <appender-ref ref="JSON_FILE" />
    </root>

</configuration>
